#cat-count-container {
    border: 2px solid grey;
}

#cat-count-container h4 {
    font-weight: bold;
}

.cat-image-container,
.click-counter {
    margin-bottom: 10px;
}

.cat-image {
    margin: 0 auto 10px;
    box-shadow: 5px 5px 5px lightgrey;
}

.cat-image:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px lightgrey;
    transition: all 0.3s ease;
}

hr {
    margin-bottom: 0;
}

.well {
    margin-right: 10px;
    margin-left: 10px;
}

#cat-list-container {
    border: 2px solid grey;
    margin: 0 10px 10px;
}

#cat-list {
    list-style: none;
    padding: 0;
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.list-items {
    font-size: 16px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.list-items:hover {
    cursor: pointer;
    background-color: grey;
    font-weight: bold;
    color: black;
    transition: all .3s ease;
}

.no-display {
    display: none;
}

#admin-button-container,
#admin-form {
    margin-bottom: 10px;
}

.row-item {
    padding: 5px;
}

.form-button {
    margin-right: 5px;
}